 

<div id="contenedor">

  <div id="login">
       CUSTOM SESSION
    <div class="titulos">
      RECUPERACION CONTRASEÑA
    </div>

    <form id="loginform">
       
        <input name="email" placeholder="Correo" />   
        <input type="password" name="password" placeholder="Contraseña" /><br>
        <input type="submit"  />

         <p id="texterror" style="color:orange;font: size 20px ;font-weight:bold"></p>

    </form>
   <a href="/customlogin" style="color:white">Ir a login</a></p>
  </div>

</div>
 
 
<script src="./js/customloginrecover.js"></script>