<div id="contenedor">

  <div id="login">

    <div class="titulos">
      Bienvenido
    </div>

    <form id="loginform">

      <input name="email" id="email" placeholder="Correo" />

      <input
        type="password"
        name="password"
        id="password"
        placeholder="Contraseña"
      /><br />

      <button
        type="button"
        id="btnIngresar"
        name="btnIngresar"
      >Ingresar</button>

      <a href="/api/sessions/github">
        <button
          type="button"
          id="btnIngresarGitHub"
          name="btnIngresarGitHub"
        >Ingresar desde Github</button></a>

      <p
        id="texterror"
        style="color:orange;font: size 20px ;font-weight:bold"
      ></p>

    </form>
    <a href="/register" style="color:white">Registrate</a><br />
    <a href="/loginrecover" style="color:white">Recuperar contraseña</a>
    <a href="/resetemail" style="color:white">Resetear email</a>
  </div>

</div>

<script src="./js/login.js"></script>