<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="./socket.io/socket.io.js"></script>
<link rel="stylesheet" href="css/index.css" />

<div style="display:flex; flex-direction:row-reverse;align-items: center;">

  <div>

    <form method="post">

      <div style="display:inline-block">

        <a href="" id="btncatalogo">Ver catalogo</a>

        <a href="" id="vercart">Ver carrito</a>
        <label id="cantcart" class="circle" style="font-weight:bold">0</label>

        <button
          type="button"
          id="logout"
          name="logout"
          style="border-radius:5px;background-color:green;color:white"
        >
          Logout
        </button>
        <span style="font-weight:bold" id="email"> </span>
        <input type="hidden" id="hdcart" name="hdcart" value="" />
      </div>

    </form>

  </div>

  <div>
    &nbsp;
  </div>

</div>

<div id="divpanel_list">

  <h5> LISTADO DE PRODUCTOS </h5>
  <p id="texterror" style="color:orange;font: size 20px ;font-weight:bold"></p>
  <form method="post">
    <div id="divlist">

    </div>

  </form>

</div>

<div id="divpanel_cart">
  <p
    id="texterrorcart"
    style="color:orange;font: size 20px ;font-weight:bold"
  ></p>
  <h5>PRODUCTOS EN EL CARRITO</h5>
  <table
    class="table table-hover table-sm table-grids"
    id="tb_listHistorialRng"
  >
    <thead>
      <tr class="TblbgSuccess">
        <th>Código</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>SubTotal</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody id="tb_cartbody"></tbody>
  </table>

  <button
    type="button"
    id="btnconfirmar"
    style="border-radius:5px;background-color:orange;color:white"
  >
    Confirmar compra
  </button>

</div>

<script src="/js/products.js"></script>