<div id="contenedor">

  <div id="login">

    <div class="titulos">
      RESTABLECER CONTRASEÑA
    </div>

    <form id="loginform">

      <input name="email" id="email" placeholder="Ingresar correo" />

      <button type="button" id="btnsendemail" name="btnsendemail" >Enviar</button>

      <p
        id="texterror"
        style="color:orange;font: size 20px ;font-weight:bold"
      ></p>

    </form>

  </div>

</div>

<script src="./js/resetpassword.js"></script>