 

<div id="contenedor">

  <div id="login">

    <div class="titulos">
      ASIGNAR CONTRASEÑA
    </div>

    <form id="loginform">
              
        <input type="hidden" id="hdtoken" name="hdtoken" value={{token}} />
        <input type="password" name="password" id="password" placeholder="Nueva contraseña" /><br>
        <button type="button" id="btnAceptar" name="btnAceptar" >Aceptar</button>

         <p id="texterror" style="color:orange;font: size 20px ;font-weight:bold"></p>

    </form>


 
<a href="/resetemail" style="color:white">Envío correo</a></p>
   <a href="/login" style="color:white">Ir a login</a></p>
  </div>

</div>
 
 
<script src="./js/resetpasswordexecute.js"></script>