 

<div id="">

  <div id="">

 

    <form id="form_listaManifiesto" method="post">
         Listado Usuarios
         <p id="texterror" style="color:orange;font: size 20px ;font-weight:bold"></p>
       <button type="button" class="btn btn-outline-success btn-sm" id="btnBuscar" name="btnBuscar">Buscar</button>
       <table id="tb_listuser">
                        <thead>
                            <tr>                             
                                <th>Usuario</th>
                                <th>Rol</th>
                                <th></th> 
                                <th></th>                             
                            </tr>
                        </thead>
                        <tbody id="tb_listuserbody">
                            <!-- -->
                        </tbody>
                    </table>

    </form>




  
<br />
  </div>

</div>

 
<script src="./js/users.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>



